@mixin flex($display:null, $justify:null, $items:null, $direction:null, $flex:null, $gap:null){
    display:$display;
    justify-content:$justify;
    align-items:$items;
    flex-direction:$direction;
    flex:$flex;
    gap:$gap;
}