//default
$default-font-family:"Inter",sans-serif;
//upper-header
$upper-header-bg-color:#262626;
$upper-header-btn-color:#84B440;
$upper-header-btn-txt-color:#FFFFFF;
$upper-header-btn-radius:4px;
$upper-header-btn-shadow:0 2px 0 #6f9a37;
//lower-header
$lower-header-txt-size:16px;
$lower-header-txt-color:#F1F1F1;
$lower-header-icon-color:#215DEE;

//gradient
$gradient-color-blue-purple:(30deg,#215DEE,#B61CFF);

//card bg
$card-bg-color:#17171C;
//featured posts 
$card-border-radius:16px;
$card-txt-color:#D4D4D4;
$card-posts-border-radius:16px;
